# WELCOME TO THE NOTEBOOK
---

Importing Modules

In [1]:
import pandas as pd

Loading the data

In [2]:
df = pd.read_json('movies_dataset.json')

Check the dataframe shape (#rows and #columns)

In [3]:
df.shape

(5043, 14)

Let's check the data types of the columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   5024 non-null   object
 1   director_name           4939 non-null   object
 2   num_critic_for_reviews  4993 non-null   float64
 3   duration                5028 non-null   float64
 4   gross                   4159 non-null   float64
 5   genres                  5043 non-null   object
 6   star_name               5036 non-null   object
 7   movie_title             5043 non-null   object
 8   movie_imdb_link         5043 non-null   object
 9   language                5031 non-null   object
 10  country                 5038 non-null   object
 11  budget                  4551 non-null   float64
 12  title_year              4935 non-null   float64
 13  imdb_score              5043 non-null   float64
dtypes: float64(6), object(8)
memory usage: 551.7+ KB

Column Selection

---

## Data Preparation
Remove some columns:    
   
   - `movie_imdb_link`
   - `num_critic_for_reviews`
   - `genre`

In [ ]:
df.drop()

Exercise: Remove the rest of the columns

Let's check the shape again

Let's convert the dtype of `title_year` column to integer

Let's check the dataframe again

Renaming some columns: 
- changing `gross` to `movie_income`

Exercise: Rename the `budget` column to `movie_budget`

---
### Data Analysis 


Let's checkout the distribution of `duration` column using a histogram.

Exercise: Create a hitogram to see the distribution of `imdb_score` column

Let's check how many movies have the `imdb_score` less than `4`.

Exercise: Use a histogram to visualize the distribution of movie IMdb score in that are produced in `USA`.

---
### Let's answer to some analytical questions 
    
Question 1 - In which year we have the `highest` and `lowest` number of movies?

Now finding out number of movies per year

Let's create a line chart to show the result

Question 2 - In which year we have `minimum` and `maximum` average `imdb_score` ?

Finding average imdb score per year

Let's Use a barchart to visualize the result

Exercise: 
Question 3 - In which year we have the `minimum` and `maximum` spent movie budget?

`hint: use a line chart to visualize your results.`

Question 4 - Is there any relationship between IMdb score of a movie and the movie income?

To approaches to solve this question:
- Visual Correlation Analysis 
- Generating the Correlation Matirx

Let's drop the rows with `non` values

Let's create a scatter plot to see the data

Let's generate the correlation matrix